

</body>

<footer style="color: black; position:fixed; width: 100%; bottom: 0; height: 30px; padding: 10px 10px 0px 10px; background-color:#a683e3; font-weight: 500;">
  Created by MihirHemnani | &copy;2022
</footer>

</html>
